body{
    background: url('images/cube-game-cube-instantaneous-speed-pay-40508.jpeg') no-repeat;
    background-size: cover;
    font-family: 'Geagu', cursive;
    color:white;
    -webkit-box-sizing: border-box;
    
}

#container{
    margin: 0 0;
    padding: 0 0;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul li {
    float: left;
    width: 420px;
    background-color: 
    black;
    height: 60px;
    opacity: .8;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    margin-right: 1px;
}
ul li a{
    text-decoration: none;
    display: block;
    color: white;
}

ul li a:hover{
    background-color: darkred;
}

ul li ul li{
    display: none;
}

ul li:hover ul li{
    display: block;
    cursor: pointer;
}