body{
    background: url('images/cube-game-cube-instantaneous-speed-pay-40508.jpeg') no-repeat;
    background-size: cover;
    font-family: 'Geagu', sans-serif;
    color:white;  
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}

 ul li{
    float: left;
    width: 415px;
    height: 40px;
    background-color: black;  
    opacity:0.8;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
}

ul li a{
    display: block;
    color:white;
    text-decoration: none;
}

ul li a:hover{
    color: yellow;
    cursor: pointer;
}